.App {
  margin: 0 auto;
  display: block;
  padding-top: 150px;
}
.container-header {
  margin: 0 auto;
  width: 800px;
  height: 475px;
  padding: 15px 20px 40px 20px;
  border-radius: 30px;
  background: linear-gradient(
    to right,
    rgba(255, 153, 102, 0.5),
    rgba(255, 94, 98, 0.5)
  );
}

.headingText {
  font-family: "Pacifico", cursive;
  font-size: 30px;
  font-weight: lighter;
  color: #030305;
  padding: 15px 15px 15px 15px;
  text-align: center;
}

footer {
  text-align: center;
  margin-left: 30px;
  font-family: "Pacifico", cursive;
  font-size: 15px;
  font-weight: light;
  color: whitesmoke;
  width: 800px;
  margin: 0 auto;
  background: linear-gradient(
    -225deg,
    rgba(203, 186, 204, 0.5) 10%,
    rgba(37, 128, 179, 0.5) 100%
  );
}

footer a {
  text-decoration: none;
  color: rgb(128, 0, 64);
  border-style: none;
  border-color: azure;
}

#footerLink:hover {
  text-decoration: dashed;
}
