body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
    url("./Images/orangesky.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 900px) {
  body {
    background-size: auto;
  }
}
