.btn-primary {
  font-size: 15px;
  color: whitesmoke;
  border: 2px solid #4d2110;
  background: #4d2110;
  font-family: "Pacifico", cursive;
  padding: 7px;
  border-radius: 5px;
  font-weight: lighter;
  letter-spacing: 1.5;
}

.btn-primary:hover {
  cursor: pointer;
  color: #4d2110;
  background: white;
  text-decoration: underline;
  letter-spacing: 1.5;
}

ul {
  margin: 0;
  padding: 0;
  margin-bottom: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #030305;
  font-size: 16px;
  font-weight: 100;
  text-transform: capitalize;
}

#dailyforecast {
  padding-left: 25px;
}
.cityupdate {
  text-align: left;
  font-family: "Pacifico", cursive;
  font-size: 20px;
  font-weight: 200;
  margin-right: 0;
  line-height: 1.5;
  padding-top: 10px;
}

#city {
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: left;
  font-family: "Pacifico", cursive;
  color: #030305;
  font-size: 35px;
  font-weight: 200;
  margin-right: 0;
  padding-top: 10px;
}
#description {
  font-size: 15px;
  line-height: 1.75;
}

#current-location {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.temperatureUpdation {
  padding: 0;
}

.weather-details-list {
  padding-top: 0;
  font-family: "Pacifico", cursive;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  padding: 12px 10px 10px 10px;
}

.weather-refresh {
  margin: 0 auto;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 0;
  margin-top: 5px;
  margin-left: 10px;
}
.tempNumber {
  color: #030305;
  font-size: 60px;
  font-weight: 400;
  padding: 0;
  text-align: center;
}
.units {
  position: relative;
  font-size: 16px;
  top: -30px;
  font-weight: 700;
}

.units a {
  text-decoration: none;
  font-weight: bold;
  color: #030305;
}

.units .active {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.table-container {
  float: right;
  margin-left: auto;
  align-items: center;
  padding-right: 30px;
  color: #ffffff;
}

.table-container table {
  width: 100%;
}

.table-container td,
tr {
  flex: 1;
  font-size: 15px;
  text-align: center;
  padding: 5px;
}
.weatherIcon {
  padding: 5px;
}

.days {
  font-size: 18px;
  word-spacing: 2px;
  flex: 1;
  width: 40px;
  font-family: "Ysabeau Infant", sans-serif;
  font-weight: bolder;
}
.numbers {
  font-size: 15px;
  flex: 1;
  width: 60px;
  word-spacing: 1px;
  font-family: "Ysabeau Infant", sans-serif;
  font-weight: bolder;
  text-align: center;
}

.weather-table {
  font-family: "Ysabeau Infant", sans-serif;
  margin-top: 10px;
  text-align: center;
}

.hourlyUpdate {
  padding: 5px;
  background-color: #a65b3a;
  border-radius: 30px;
  color: #ffffff;
}
.weather-table-time {
  font-size: 15px;
  font-family: "Ysabeau Infant", sans-serif;
  font-weight: bolder;
  font-style: italic;
}

.weather-table-temp {
  font-size: 18px;
  font-family: "Ysabeau Infant", sans-serif;
  font-weight: bolder;
}

.weather-table-feelslike {
  font-size: 14px;
  font-family: "Ysabeau Infant", sans-serif;
  font-weight: bolder;
}
